<div class="body_form">
	<div class="form_content">
		<h3>Shorten your links</h3>
		<div>
			<%= form_for @url, remote: true do |f| %>
				<%= f.text_field :original_url, placeholder: 'Enter original URL' %>
				<%= f.button "shorten url" %>
			<% end %>
		</div>
		<p id="copy_content"></p>
	</div>
</div>
<div class="body_form">
	<div class="form_content">
		<h3>Token</h3>
		<p id="token"><%= current_user.auth_token %></p>
		<p>Use this token for api auth!</p>
		<%= link_to "Generate", tokens_generate_path, remote: true %>
	</div>
</div>
<div id="alert">
	<p>alert</p>
</div>

